@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.var.woff2') format('woff2');
  font-weight: 1 999;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}

* {
  font-family: Inter, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
